@media (min-width: 768px) {
  .col-sm-2.point5 {
    width: 20%;
  }
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #2f323a;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.singlecard{
  width: 118px;
  height: 171px;
}

.doublecard{
  width: 100px!important;
  height: 110px;
}
@media screen and (max-width: 840px) {
  .singlecard {
    width: 59px;
    height: 85px;
  }

  .doublecard {
    width: 83px!important;
    height: 65px;
  }

}
@media screen and (min-width: 1700px) {
  .container {
    max-width: 2000px!important;
  }
}

