<div class="row">
{%  for card in cards %}
        <div class="card text-center col-sm-2 point5 d-flex align-content-center flex-wrap" >
            <div class="card text-center" style="">
                <img src="{{ asset(card| cardImage) }}"  class="singlecard" alt="{{ card| cardImage }}">
                <div class="card-body">
                    <span class="card-title">{{ attribute(card,sort) }}</span>
                </div>
            </div>
        </div>
    {#{% if not loop.last and (loop.index%10 == 0) %}
    </div><div class="row">
    {% endif %}#}
{% endfor %}
</div>
