<div class="row">
{%  for card in cards %}
        <div class="card text-center col-sm-2 point5 d-flex align-content-center flex-wrap" >
            <div class="card text-center" style="width: 120px;">
                <img src="{{ asset(card| cardImage) }}"  class="card-img-top" alt="{{ card| cardImage }}">
                <div class="card-body">
                    <h5 class="card-title">{{ attribute(card,sort) }}</h5>
                </div>
            </div>
        </div>
    {% if not loop.last and (loop.index%10 == 0) %}
    </div><div class="row">
    {% endif %}
{% endfor %}
</div>
