{% extends 'base.html.twig' %}

{% block title %}New Tournoi{% endblock %}

{% block body %}
    <h1>Create new Tournoi</h1>

    {{ include('back_tournoi/_form.html.twig') }}

    <a href="{{ path('app_back_tournoi_index') }}">back to list</a>
{% endblock %}
